[VC] # Variant calling section
# Name of BAM file generated with DOPseq_analyzer. It is also used to locate pos.bed file generated with b_dopseq_pipe.
bam_file: sample.genome.filter.bam
# input BED file with target regions, for which variants are analyzed
reg_bed: sample.verified.bed
# path to reference genome fasta file (unpacked)     
genome_fa: /path/to/genome/fasta
# path to picard jar file
path_to_picard: /path/to/picard/jar
# path to GATK jar file
path_to_gatk: /path/to/gatk/jar
# Memory allocated to GATK HaplotypeCaller. For other commands, 1g is allocated
gatk_mem: 8g
[VA] # variant annotation section. Remove it to disable annotation.
# path to snpEff jar file
path_to_snpEff: /path/to/snpEff/jar
# snpEff gene&genome database. Lookup with snpEff's "databases" command.
genome_snpEff: genome.ensembl_version

# Output files - Variant calling

# sample.genome.filter.hc.vcf - HaplotypeCaller variant callset for the whole genome
# sample.genome.filter.hc.reg.vcf - HaplotypeCaller variant callset for the target regions only
# sample.genome.filter.hc.reg.txt - VariantEval statistics for target region variant callset
# sample.genome.filter.hc.reghz.vcf - HaplotypeCaller heterozygous variant callset for the target regions only
# sample.genome.filter.hc.reghz.txt - VariantEval statistics for target region heterozygous variant callset
# sample.verified.regpos.bed - BED file with positions covered by reads inside target regions
# sample.verified.regpos.split.bed - same, divided into 1bp chunks
# sample.genome.filter.alt.fa - read-based alternate fasta generated for regpos. Hetetozygous substitutions are represented by IUPAC ambiguities, while indels might be messy.

# Output files - Variant annotation

# sample.genome.filter.hc.reg.ann.vcf - snpEff annotation for target region variant callset
# sample.genome.filter.hc.reg.ann.vcf.csv - stats for snpEff annotation for target region variant callset
# sample.genome.filter.hc.reghz.ann.vcf - snpEff annotation for target region heterozygous variant callset
# sample.genome.filter.hc.reghz.ann.vcf.csv - stats for snpEff annotation for target region heterozygous variant callset
# sample.verified.regpos.count - snpEff features count for target regions
# sample.verified.regpos.summary.txt - summary of snpEff features count for target regions
# sample.genome.filter.hc.reg.ann.vcf.dens.txt - stats of target region: features count (in bp), number of variants called, feature bp per variant
# sample.verified.genes.bed - target regions BED file with genes added.
